<!DOCTYPE html>
<html>
   <head>
      <%- include ("../partials/header.ejs") %>
   </head>

   <body>
      <%- include ("../partials/nav.ejs") %>

      <div class="jumbotron text-center">
         <div class="container">
            <h1>Welcome to User Voting count!</h1>
            <p>just testing the page</p>
            <p>
               <a class="btn btn-light btn-large" href="/api/v2/users">
                  Sign Up
               </a>
            </p>
         </div>
      </div>
      <div class="container"></div>
   </body>
</html>
